!!!
%html
  %head
    %title SimpleReview
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .middle-layout
      = render partial: "layouts/navigation"
      #flash_div
        = render partial: "layouts/flash"
      = yield
      = render partial: "layouts/bottom_navigation"